@()
<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/account/main.css")">
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery/jquery-1.11.2.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/account/main.js")"></script>
	</head>
	<body>
		<header>
		</header>
		<section>
			<div class="sign-container">
				<div class="sign-in">
					<!-- <div>
						<button>Sign In with Google+</button>
					</div>
					<label>E-Mail address:</label>
					<input type="email" name="username" id="username"/><br/>
					<label>Password:</label>
					<input type="password" id="password"/><br/>
					<button id="sign_in">Sign In</button><br/>
					<a href="#">Forgot your password?</a><br/> -->
					<div class="sign-title">Sign in to your account</div>
					<form name="sign_in" method="post" id="signIn">
						<label>E-Mail address:</label>
	                    <input type="text" name="email"/><br>
	                    <label>Password:</label>
	                    <input type="password" name="password"/><br>
	                    <!-- <input type="checkbox" name="autologin"/><span>Login Automatically</span> -->
	                    <button type="submit" id="" >Login</button><br>
	                    <a href="password/reset">Forgot Your Password?</a>
	                </form>
				</div>
				<div class="sign-up">
					<!-- <div>
						<button>Sign Up with Google+</button>
					</div>
					<label>E-Mail address:</label>
					<input type="email" name="newusername" id="newusername"/><br/>
					<label>Password:</label>
					<input type="password" id="pass"/><br/>
					<label>Confirm Password:</label>
					<input type="password" id="confm_pass"/><br/>
					<button id="sign_up">Sign Up</button><br/> -->
					<div class="sign-title">New user ?? Register Now </div>
						<label>Name:</label>
                        <input type="text" name="full_name" id="full_name"/><br>
                        <label>E-Mail address:</label>
                        <input type="text" name="email" id="email"/><br>
                        <label>Password:</label>
                        <input type="password" name="password" value="" id="password"/><br>
                        <label>Confirm Password:</label>
                        <input type="password" name="password_confirmation" value="" id="confirm_password"/><br>                 
                        <button type="submit" id="submit" value="submit " name="submit">Register</button>
				</div>
			</div>
		</section>
		<footer>
		</footer>
	</body>
</html>
